<!DOCTYPE html>
<html ng-app="accionet-web-app">

  <head>
    <title>Lugares - Accionet</title>
    <% include ../partials/head.ejs %>

    <!-- Morris Charts CSS -->
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">

    <!--  -->
    <link href="/stylesheets/easypiechart.css" rel="stylesheet">

    <!-- Calendar -->

    <link rel="stylesheet" href="/vendor/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>

  </head>

  <body ng-controller="surveyController">
    <% include ../partials/message_log.ejs %>
    <%= include ../partials/navbar.ejs %>

    <div id="page-wrapper" ng-init="initializeSurveys(null, ' <%= JSON.stringify(survey) %>',' <%= null %>') ">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">{{selectedSurvey.title}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Métricas</h4>
            </div>
            <!-- /.panel-heading -->

            <div class="panel-body">
              <!-- Nav tabs -->
              <ul class="nav nav-pills">
                <li class="active">
                  <a href="#summary-pills" data-toggle="tab">Resumen</a>
                </li>
                <li>
                  <a href="#questions-pills" data-toggle="tab">Preguntas</a>
                </li>
                <li>
                  <a href="#excel-pills" data-toggle="tab">Generar Excel</a>
                </li>
              </ul>
              <br>
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade in active" id="summary-pills">
                  <h4>Encuesta creada el:
                    {{selectedSurvey.created_at | date}}</h4>
                  <h4 ng-if="selectedSurvey.description">Descripcion de Encuesta:
                  </h4>
                  <p>
                    {{selectedSurvey.description}}</p>
                  <div class="row">
                    <div class="col-xs-12 col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-body easypiechart-panel" ng-init="getTotalResponses(selectedSurvey)">
                          <div class="easypiechart easypiechart-orange" data-percent="100">
                            <span ng-if="selectedSurvey.totalResponses" class="percent">{{selectedSurvey.totalResponses}}</span>
                            <span ng-if="!selectedSurvey.totalResponses" class="percent">
                              <i class="fa fa-spinner fa-pulse fa-fw"></i>
                            </span>
                          </div>
                          <h4 class="text-center">Respuestas</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-body easypiechart-panel" ng-init="getTotalEndUsers(selectedSurvey)">
                          <div class="easypiechart easypiechart-teal"  data-percent="100">
                            <span ng-if="selectedSurvey.totalEndUsers" class="percent">{{selectedSurvey.totalEndUsers}}</span>
                            <span ng-if="!selectedSurvey.totalEndUsers" class="percent">
                              <i class="fa fa-spinner fa-pulse fa-fw"></i>
                            </span>
                          </div>
                          <h4 class="text-center">Alcance (personas)</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-body easypiechart-panel">
                          <div class="easypiechart easypiechart-red"  data-percent="100">
                            <span class="percent">-</span>
                          </div>
                          <h4 class="text-center">Visitas</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#day-panel">
                            Evolución de respuestas por día
                          </a>
                        </h4>
                      </div>
                      <!-- /.panel-heading -->
                      <div id="day-panel" class="panel-collapse collapse in" ng-init='getResponsesByDay(selectedSurvey)'>
                        <div class="flot-chart">
                          <div ng-if="loadingResponseByDayChart" class="huge text-center">
                            <i class="fa fa-spinner fa-pulse fa-fw"></i>
                          </div>
                          <div class="flot-chart-content" id="response-by-day-line-chart"></div>
                        </div>
                      </div>
                      <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#hour-panel">
                            Cantidad de respuestas por hora
                          </a>
                        </h4>
                      </div>
                      <!-- /.panel-heading -->
                      <div id="hour-panel" class="panel-collapse collapse in" ng-init='getResponsesByHour(selectedSurvey)'>
                        <div class="flot-chart">
                          <div ng-if="loadingResponseByHourChart" class="huge text-center">
                            <i class="fa fa-spinner fa-pulse fa-fw"></i>
                          </div>
                          <div class="flot-chart-content" id="response-by-hour-line-chart"></div>
                        </div>
                      </div>
                      <!-- /.panel-body -->
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade " id="questions-pills">
                  <div class="panel-group">
                    <div ng-repeat="question in selectedSurvey.questions| orderBy: 'number'" class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#question{{question.id}}">
                            {{question.number}})
                            {{question.title}}
                          </a>
                        </h4>
                      </div>
                      <div ng-if="question.type == 'multiple_choice'"> <%= include ./question/metrics/multiple_choice.ejs %> </div>
                      <div ng-if="question.type == 'short_text'"> <%= include ./question/metrics/short_text.ejs %> </div>


                      <!-- /.panel -->

                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="excel-pills">
                  <div class="row">
                    <h3 class="heading">
                      Desde
                    </h3>
                    <div class='col-lg-12'>
                      <div class="form-group">
                        <div class='input-group date' id='datetimepicker6'>
                          <input type='text' class="form-control"/>
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Si se deja vacío se generará desde el inicio
                  </div>
                  <div class="row">
                    <h3 class="heading">
                      Hasta
                    </h3>
                    <div class='col-lg-12'>
                      <div class="form-group">
                        <div class='input-group date' id='datetimepicker7'>
                          <input type='text' class="form-control"/>
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Si se deja vacío se generará hasta el final
                  </div>
                  <br>
                  <div class="row">
                    <div class='col-lg-12'>
                      <a type="button" target='_blank' href='/surveys/{{selectedSurvey.id}}/excel' class="btn btn-block btn-success">
                        <h4 ng-if="!downloadingExcelFile" class='heading'>
                          Generar
                        </h4>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
    </div>

    <% include ../partials/scripts.ejs %>
    <% include partials/surveys_scripts.ejs %>

    <!-- Flot Charts JavaScript -->
    <script src="/vendor/flot/excanvas.min.js"></script>
    <script src="/vendor/flot/jquery.flot.js"></script>
    <script src="/vendor/flot/jquery.flot.pie.js"></script>
    <script src="/vendor/flot/jquery.flot.resize.js"></script>
    <script src="/vendor/flot/jquery.flot.time.js"></script>
    <script src="/vendor/flot-tooltip/jquery.flot.tooltip.min.js"></script>
    <!-- <script src="/data/flot-data.js"></script> -->
    <!-- <script src="/prueba.js"></script> -->

    <script src="/vendor/lumino/js/easypiechart.js"></script>
    <!-- Here the colours are determined -->
    <script src="/vendor/lumino/js/easypiechart-data.js"></script>

    <!--  Calendar -->
    <script type="text/javascript" src="/vendor/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/vendor/bower_components/moment/min/locales.min.js"></script>
    <script type="text/javascript" src="/vendor/bower_components/moment/min/moment-with-locales.min.js"></script>

    <!-- <script type="text/javascript" src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="/vendor/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript" src="/javascripts/js/calendar.js"></script>
  </body>

</html>
